@mixin circule_mark{
    width: 1em;
	height: 1em;
	border: solid 0.15em #bfbfbf;
	border-radius: 60%;
}
@mixin gradient_red{
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, #fd5272,  #ec6f54)
}
@mixin gradient_blue{
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, #708ae6,  #8841af)
}