/*fonts*/
$font-stack: 'Lato', sans-serif;

/*colors*/
$gray-font-color:#bfbfbf;
$white-text-color:#ffffff;
$search-input-font-color:#c0c0c0;
$user-name-font-color:#777777;
$header-input-font-color:#C8C8C8;
$box-shadow-color:#f1f1f1;
$border-light-color:#E9E9E9;
$white-background-color:#ffffff;
$darc-rose-backgroubd-color:#c43e5b;
$black-background-color:#000000;
$light-background-color:#f8f8f8;
$milk-background-color:#ececec;
$rose-color:#fd5272;
$orange-color:#ec6f54;