@font-face {
  font-family: "DeftoneStylus-Regular";
  src: url(../fonts/3987.ttf);
}

body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

/*Fonts===================================================================================
===========================================================================================*/
/*Colors===================================================================================
===========================================================================================*/
.triangles {
  position: relative;
  margin-right: 1em;
}

.triangles::before {
  position: absolute;
  top: 0.25em;
  left: -1em;
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid #a889e9;
}

.triangles::after {
  position: absolute;
  top: 0.2em;
  left: 2.4em;
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid #fd5670;
}

html {
  /*font-size: calc(5px + 0.4vw);*/
  font-size: calc(4.25px + 0.4vw);
  font-family: "Lato", sans-serif;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

/*Headings=================================================================================
===========================================================================================*/
h2 {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
}

h4 {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

header a:hover {
  background-color: #c43e5b;
  opacity: 0.5;
}

.a_w:hover {
  background-color: #c43e5b;
  opacity: 0.5;
}

.a_w:hover p {
  color: #000000;
}

.graph_button:hover {
  background-color: #c43e5b;
  opacity: 0.1;
  color: #ffffff;
  border-radius: 10px;
}

nav a:hover img, .last_a:hover img, .aside-head:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

/*.aside-head-nofirst{
    background-color:  $darc-rose-backgroubd-color;
    opacity: 0.5;
}*/
nav a:hover p {
  color: #000000;
}

/*Header===================================================================================
===========================================================================================*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #bfbfbf;
  width: 100%;
  border-top: 0.1em #f1f1f1 solid;
  border-bottom: 0.1em #f1f1f1 solid;
}

header .element_w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.3em;
  font-family: 'DeftoneStylus-Regular';
  font-size: 3rem;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#fd5272), to(#ec6f54));
  background-image: linear-gradient(to right, #fd5272, #ec6f54);
}

header .a_w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6.2%;
  font-size: 3rem;
  text-decoration: none;
}

header .header__image_first {
  width: 5%;
}

header .dotted_ellips {
  width: 3.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.8em;
  background-image: -webkit-gradient(linear, left top, right top, from(#fd5272), to(#ec6f54));
  background-image: linear-gradient(to right, #fd5272, #ec6f54);
  border-radius: 10px;
}

header .circule {
  margin-left: 0.1em;
  margin-right: 0.1em;
  width: 0.6em;
  height: 0.6em;
  background-color: #ffffff;
  border-radius: 10px;
}

header .element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 0.1em #f1f1f1 solid;
}

header .folder {
  padding: 3.8em 3.4em;
  background: url(../image/header/folder.png) no-repeat center center;
}

header .mixing-console {
  padding: 3.8em 3.4em;
  background: url(../image/header/mixing-console.png) no-repeat center center;
}

header .upload {
  padding: 3.8em 3.4em;
  background: url(../image/header/upload.png) no-repeat center center;
}

header .envelope {
  padding: 3.8em 3.4em;
  background: url(../image/header/envelope.png) no-repeat center center;
}

header .globe {
  padding: 3.8em 3.4em;
  background: url(../image/header/globe.png) no-repeat center center;
  position: relative;
}

header .globe::after {
  position: absolute;
  top: 2em;
  left: 3.5em;
  content: "";
  width: 0.45em;
  height: 0.5em;
  background-color: #000000;
  border-radius: 60%;
}

header .lady_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 13%;
}

header .lady_head img {
  width: 100%;
}

header .three-dots {
  width: 3.5%;
  padding: 3.8em 2em;
  background: url(../image/header/three-dots.png) no-repeat center center;
}

header .input_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 51%;
  border-left: 0.1em #f1f1f1 solid;
}

header input {
  background-color: #f8f8f8;
  border: none;
  color: #C8C8C8;
}

header h3 {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#fd5272), to(#ec6f54));
  background-image: linear-gradient(to right, #fd5272, #ec6f54);
}

@media screen and (min-width: 1281px) {
  .input_wrap {
    width: 60%;
  }
}

.header__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 1.08em 0.9em;
  width: 22em;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  background-color: #f8f8f8;
  border-radius: 10px;
}

header .header__input_img {
  height: 1.2em;
}

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0.76em 0 1.38em;
  margin-right: 2em;
}

@media (max-width: 1279px), screen and (orientation: portrait) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  header.element {
    margin: 0.2em;
  }
  header .element, header .input_wrap {
    border-left: 0px;
  }
}

@media screen and (max-width: 413px) and (min-width: 321px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  header .element {
    margin: 0.2em 0;
  }
  header .element, header .input_wrap {
    border-left: 0px;
  }
}

/*MAIN======================================================================================
============================================================================================*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

/*Navigation bar==============================================================================
==============================================================================================*/
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6.2%;
  background: -webkit-gradient(linear, left bottom, left top, from(#fd5272), to(#ec6f54));
  background: linear-gradient(to top, #fd5272, #ec6f54);
  padding-bottom: 3em;
}

.navigation a {
  text-decoration: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3em;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #ffffff;
}

nav .element p {
  margin-top: 1em;
}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
}

/*Main content=================================================================================
===============================================================================================*/
.main-content {
  width: calc(100% - 6.2%);
}

@media screen and (max-width: 768px) {
  .main-content {
    width: 100%;
  }
}

/*Numbers======================================================================================
===============================================================================================*/
.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.8em 0;
}

.numbers__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.numbers__element p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#fd5272), to(#ec6f54));
  background-image: linear-gradient(to right, #fd5272, #ec6f54);
}

.ten {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  padding-left: 0.4em;
  font-weight: 600;
  color: #bfbfbf;
}

.numbers :last-child p {
  font-size: 1.2rem;
}

@media (max-width: 1279px), screen and (orientation: portrait) {
  .numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1rem 2rem;
  }
  .numbers__element {
    margin: 0.2em;
  }
}

@media screen and (max-width: 768px) {
  .numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 01rem 2rem;
  }
  .numbers__element {
    margin: 0.3em 1em;
  }
}

/*Sub-main=====================================================================================
===============================================================================================*/
.sub-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 0 1.5rem 1.5rem;
  background-color: #ececec;
}

@media (max-width: 1279px), screen and (orientation: portrait) {
  .sub-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sub-main-center {
  /*padding: 0.8rem 0.8rem 0 0.8rem;*/
  padding-right: 1.5rem;
  background-color: #ececec;
}

@media (max-width: 1279px), screen and (orientation: portrait) {
  .sub-main-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

.sub-sub-main-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px), screen and (orientation: portrait) {
  .sub-sub-main-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .sub-sub-main-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70.25%;
  padding: 2rem 3rem;
  background-color: #ffffff;
}

.graph__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.graph_button {
  padding: 0.58em 1.33em;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #bfbfbf;
  background-color: #ffffff;
  border: none;
}

.graph_button_first {
  color: #ffffff;
  border-radius: 10px;
  background: -webkit-gradient(linear, right top, left top, from(#ec6f54), to(#fd5272));
  background: linear-gradient(to left, #ec6f54, #fd5272);
}

.graph_picture img {
  /*width: 90%;*/
  height: 16em;
}

@media screen and (max-width: 767px) {
  .graph {
    width: 100%;
    padding: 3rem;
  }
}

.round_diagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28.25%;
  padding: 2rem 7rem;
  background-color: #ffffff;
}

.round_diagram p {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #bfbfbf;
}

@media screen and (max-width: 767px) {
  .round_diagram {
    width: 100%;
  }
}

/*sub-sub-main-center-bottumn==================================================================
===============================================================================================*/
.sub-sub-main-center-bottumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 0 0 0;
}

@media screen and (max-width: 1000px) {
  .sub-sub-main-center-bottumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

/*Customers-Feed==============================================================================
===============================================================================================*/
.Customers-Feed {
  width: 42.5%;
  padding: 3rem;
  background-color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .Customers-Feed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

.Customers-Feed-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}

.lady {
  margin-bottom: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  background: url(../image/lady.png) no-repeat center center;
}

.man {
  margin-bottom: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  background: url(../image/man.png) no-repeat center center;
}

.lady-man {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 1.8rem;
  padding-bottom: 2rem;
}

.lady-man p {
  font-family: "Lato", sans-serif;
  font-size: 0.66rem;
  font-weight: 400;
  color: #777777;
}

.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.words {
  padding: 1em;
  margin: 1.1em 0;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #777777;
  border: 1px solid #f1f1f1;
}

.words-in-mirror {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 2px solid #f1f1f1;
}

.mirror-words {
  margin-bottom: 1em;
}

/*Set-of-three==============================================================================
===============================================================================================*/
.set-of-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 56%;
}

@media screen and (max-width: 1000px) {
  .set-of-three {
    width: 100%;
  }
}

.list {
  padding: 1.5em;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: #ffffff;
}

.list h4 {
  margin-bottom: 1.5em;
  color: #777777;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 1em;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

li span {
  padding-right: 2em;
}

li span:first-child {
  padding-right: 1em;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#fd5272), to(#ec6f54));
  background-image: linear-gradient(to right, #fd5272, #ec6f54);
}

li div img {
  margin-right: 1em;
}

li::before {
  position: absolute;
  top: 1em;
  left: -1em;
  content: "";
  width: 1em;
  height: 1em;
  border: solid 0.15em #bfbfbf;
  border-radius: 60%;
}

li:first-child::before {
  position: absolute;
  top: 1em;
  left: -1em;
  content: "";
  width: 1em;
  height: 1em;
  border: solid 0.15em #bfbfbf;
  border-radius: 60%;
  border-color: #ec6f54;
  background: -webkit-gradient(linear, left top, right top, from(#fd5272), to(#ec6f54));
  background: linear-gradient(to right, #fd5272, #ec6f54);
}

/*Progress-Shipments===========================================================================
===============================================================================================*/
.Progress-Shipments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
}

.Progress-Shipments h2 {
  margin-top: 1rem;
  text-align: center;
  color: #777777;
}

.Progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48.5%;
  padding: 2rem 1rem 2.3rem 1rem;
  background-color: #ffffff;
}

.Progress .image {
  width: 50%;
}

.Progress_many {
  padding-bottom: 1em;
  font-size: 1.8rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#708ae6), to(#8841af));
  background-image: linear-gradient(to right, #708ae6, #8841af);
}

.Shipments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48.5%;
  padding: 2rem 1rem 2.3rem 2rem;
  background-color: #ffffff;
}

.Shipments .image {
  width: 80%;
}

.Shipments_many {
  font-size: 1.8rem;
  padding-bottom: 1em;
  margin-right: 6em;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#fd5272), to(#ec6f54));
  background-image: linear-gradient(to right, #fd5272, #ec6f54);
}

.Shipments__togather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 567px) {
  .Progress-Shipments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Progress-Shipments .image {
    width: 40%;
  }
  .Shipments {
    margin-top: 2rem;
  }
}

/*sub-main-aside=============================================================================
===============================================================================================*/
.sub-main-aside {
  width: 21%;
  background-color: #ffffff;
}

@media (max-width: 1279px), screen and (orientation: portrait) {
  .sub-main-aside {
    width: 100%;
  }
}

.sub-main-aside-head-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: -webkit-gradient(linear, right top, left top, from(#ec6f54), to(#fd5272));
  background: linear-gradient(to left, #ec6f54, #fd5272);
}

.sub-main-aside-head-bar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  width: 33.333%;
}

.sub-main-aside-head-bar .aside-head-first {
  background-color: #c43e5b;
  opacity: 0.5;
}

.users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0em 1.5em;
  border-bottom: 1px solid #f1f1f1;
}

.avatar {
  height: 4em;
}

.avatar-special {
  height: 4.3em;
  width: 4.3em;
  background: url(../image/sub-main-aside/kristen_Stewart.png) no-repeat -1.5rem -1.5rem;
}

@media (max-width: 1279px), screen and (orientation: portrait) {
  .avatar-special {
    height: 5.5rem;
    width: 5.5rem;
    background: url(../image/sub-main-aside/kristen_Stewart.png) no-repeat -1.5rem -1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .avatar-special {
    height: 6rem;
    width: 6rem;
    background: url(../image/sub-main-aside/kristen_Stewart.png) no-repeat -2.5rem -2.5rem;
  }
}

.rights {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #bfbfbf;
}

.user__name {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
  color: #777777;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 1.8em;
  border-bottom: 1px solid #E9E9E9;
}

.search input {
  width: 16.1em;
  padding-bottom: 0.6em;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #c0c0c0;
  border: none;
  border-bottom: 1px solid #E9E9E9;
}

.searc_img {
  height: 1.5em;
}

/*featured-companys=============================================================================
===============================================================================================*/
.featured-companys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 2rem;
}

.featured-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem 1.2rem;
  margin-bottom: 0.5rem;
  width: 5.5rem;
  height: 5rem;
  border-radius: 10px;
}

.featured-company-1 {
  background-image: linear-gradient(45deg, #ca9be8, #6b5bb5);
}

.featured-company-2 {
  background-image: linear-gradient(45deg, #51e3c5, #4cbdc3);
}

.featured-company-3 {
  background-image: linear-gradient(45deg, #f2b496, #b4727a);
}

.featured-company-4 {
  background-image: linear-gradient(45deg, #99abea, #8549b4);
}

.featured-company-5 {
  background-image: linear-gradient(45deg, #8ae2e8, #6092e8);
}

.featured-company-6 {
  background-image: linear-gradient(45deg, #fce1a0, #f48f83);
}

@media screen and (max-width: 1919px) and (min-width: 1279px) {
  html {
    font-size: calc(3.5px + 0.4vw);
  }
  .numbers {
    padding: 1em 0;
  }
  .numbers__element p {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  h4 {
    font-size: 1rem;
  }
  .sub-main {
    padding: 1rem 0 1rem 1rem;
  }
  .Progress-Shipments {
    margin-top: 1rem;
  }
  .Progress-Shipments h2 {
    margin-top: 0.5rem;
  }
  .Progress_many, .Shipments_many {
    font-size: 1.3rem;
    padding-bottom: 0.5em;
  }
  .Shipments, .Progress {
    padding: 1.5rem 1rem 1.3rem 2rem;
  }
  .featured-company {
    padding: 1rem 1.2rem;
    margin-bottom: 0.5rem;
  }
  .sub-main-aside h4 {
    margin: 1.4em 5em;
  }
  .featured-companys {
    padding: 0 2rem 1.5rem 1rem;
  }
  .ten {
    font-size: 1rem;
  }
  .graph {
    padding: 1rem 3rem;
  }
  .round_diagram {
    padding: 1rem 7rem;
  }
  .round_diagram p {
    font-size: 1.1rem;
  }
  .list {
    padding: 1em 2em;
    font-size: 1.1rem;
  }
  .users {
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0em 1.5em;
  }
  .graph_button {
    padding: 0.5em 1.33em;
    font-size: 1rem;
  }
  .lady_head img {
    height: 100%;
  }
  .folder, .mixing-console, .upload, .envelope, .globe {
    padding: 1em 3.4em;
  }
  .three-dots {
    padding: 1em 2em;
  }
  .header__input {
    padding: 0.5em 1.08em 0.5em;
    font-size: 1rem;
  }
  .element_w {
    padding: 0 0.3em;
    font-size: 2rem;
  }
  .a_w {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */